<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../static/css/catalogo.css">
</head>
<body>
<main role="main">
    <div class="product">
        <figure>
            <img src="..\resources\static\img\bicis\urbana.jfif" alt="Bicicleta de Ciudad" class="product-image">
        </figure>

        <div class="product-description">
            <div class="info">
                <h1>Bicicleta de Ciudad</h1>
                <p>Perfecta para desplazamientos urbanos cómodos.</p>
            </div>
            <div class="price">
                15000
            </div>
        </div>

        <div class="product-sidebar">
            <button class="buy">
                <span>ALQUILAR</span>
            </button>
        </div>
    </div>

    <div class="product">
        <figure>
            <img src="..\resources\static\img\bicis\montaña.jfif" alt="Bicicleta de Montaña" class="product-image">
        </figure>

        <div class="product-description">
            <div class="info">
                <h1>Bicicleta de Montaña</h1>
                <p>Ideal para aventuras off-road y senderos.</p>
            </div>
            <div class="price">
                20000
            </div>
        </div>

        <div class="product-sidebar">
            <button class="buy">
                <span>ALQUILAR</span>
            </button>
        </div>
    </div>

    <div class="product">
        <figure>
            <img src="..\resources\static\img\bicis\electrica.jfif" alt="Bicicleta Eléctrica" class="product-image">
        </figure>

        <div class="product-description">
            <div class="info">
                <h1>Bicicleta Eléctrica</h1>
                <p>Para recorridos largos con asistencia eléctrica.</p>
            </div>
            <div class="price">
                25000
            </div>
        </div>

        <div class="product-sidebar">
            <button class="buy">
                <span>ALQUILAR</span>
            </button>
        </div>
    </div>
</main>
</body>
</html>
