.about-us {
    padding: 50px 0;
}

header, footer {
    background-color: var(--color-verde-oscuro);
    color: #4ac97a;
    padding: 1rem;
    text-align: center;
}

.founders {
    text-align: center;
    padding: 50px 0;
    background-color: #f5f5f5;
}

.founder-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.founder {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.founder:hover {
    transform: translateY(-5px);
}

.founder img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.founder h3 {
    margin: 15px 0 5px;
}

.founder p {
    margin: 0 0 15px;
    color: #666;
}

