:root {
    --color-verde-oscuro: #05662c1a;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #CCCCCC;
    --color-verde-banner: #389800;
    --color-verde-banner-hover: hsl(91, 100%, 49%);
    --color-texto-banner: #109104;
    --color-fondo-info: #f2f2f2;
    --color-titulo-info: #00980d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header, footer {
    background-color: var(--color-verde-oscuro);
    color: #4ac97a;
    padding: 1rem;
    text-align: center;
}

header nav ul, .navbar-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li, .nav-item {
    margin: 0;
}

header nav ul li a, .nav-link, .footer .text-muted, .footer p {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover, header nav ul li a:focus, .nav-link:hover, .nav-link:focus {
    color: var(--color-gris-claro);
}

.banner {
    background: url('./static/img/banner-image.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 5rem 0;
    position: relative; /* Para alinear elementos internos */
}

.banner h1 {
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(66, 209, 53);

}
.banner h1:hover {
    color: #00980d;
}

.banner p {
    font-size: 1.2rem;
    font-family: arial;
    color: #1a1818;
}
.info {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--color-fondo-info);
}

.info-box {
    width: 30%;
    text-align: center;
    padding: 1rem;
}

.info-box h2 {
    color: var(--color-titulo-info);
}

.banner button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(144, 190, 65);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.banner button:hover {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-verde-banner);
    box-shadow: var(--color-verde-banner-hover) 0px 7px 29px 0px;
}

.banner a.btn.btn-success {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(144, 190, 65);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.banner a.btn.btn-success:hover {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-verde-banner);
    box-shadow: var(--color-verde-banner-hover) 0px 7px 29px 0px;
}

.banner a.btn.btn-success:active {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-blanco);
    box-shadow: var(--color-verde-banner-hover) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    min-height: 100vh; /* Altura mínima del viewport */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.navbar, .footer, .bg-light {
    background-color: var(--color-verde-oscuro) !important;
    color: #4ac97a !important;
}

.nav-link, .footer .text-muted, .footer p {
    color: #4ac97a !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-gris-claro) !important;
}

/* Efecto "road-effect" */
#stage {
    overflow: hidden;
    position: relative;
    perspective: 500px;
    margin-top: -10rem; 
}

#road {
    opacity: .9;
    width: 120vw;
    height: 15vw; /* Ajustar la altura para que sea más pequeño */
    min-height: 100px; /* Ajustar la altura mínima para que sea más pequeño */
    background-size: 1vw auto; /* Ajustar el tamaño del fondo */
    transform-origin: center top; /* Ajustar el origen de la transformación */
    transform: rotateX(45deg) translate(-20vw); /* Ajustar la rotación y la traslación */
    animation: stripemove 0.4s linear infinite; /* Ajustar la duración de la animación */ 
}

@keyframes stripemove {
    to {
        transform: rotateX(45deg) translate(0vw);
    }
}

#stripes {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    width: 120vw;
    min-width: 60vw;
    height: 5%;
    background: repeating-linear-gradient(
        to right,
        rgb(54, 212, 5),
        white 8vw,
        transparent 8vw,
        transparent 20vw
    );
}