:root {
    --color-verde-oscuro: #05662c1a;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #CCCCCC;
    --color-verde-banner: #389800;
    --color-verde-banner-hover: hsl(91, 100%, 49%);
    --color-texto-banner: #109104;
    --color-fondo-info: #f2f2f2;
    --color-titulo-info: #00980d;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header, footer {
    background-color: var(--color-verde-oscuro);
    color: #4ac97a;
    padding: 1rem;
    text-align: center;
}

header nav ul, .navbar-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li, .nav-item {
    margin: 0;
}

header nav ul li a, .nav-link, .footer .text-muted, .footer p {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover, header nav ul li a:focus, .nav-link:hover, .nav-link:focus {
    color: var(--color-gris-claro);
}

.banner {
    background: url('./static/img/banner-image.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 5rem 0;
    position: relative; /* Para alinear elementos internos */
}

.banner h1 {
    margin: 0;
    font-size: 2.5rem;
    transition: color 0.3s ease-in-out;
    position: relative;
    z-index: 10; /* Asegura que el texto esté encima del fondo */
}

.banner h1:hover {
    color: var(--color-verde-banner);
}

.banner p {
    font-size: 1.2rem;
    color: #1a1818;
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--color-fondo-info);
}

.info-box {
    width: 30%;
    text-align: center;
    padding: 1rem;
}

.info-box h2 {
    color: var(--color-titulo-info);
}

.banner button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(144, 190, 65);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.banner button:hover {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-verde-banner);
    box-shadow: var(--color-verde-banner-hover) 0px 7px 29px 0px;
}

.banner a.btn.btn-success {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(144, 190, 65);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.banner a.btn.btn-success:hover {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-verde-banner);
    box-shadow: var(--color-verde-banner-hover) 0px 7px 29px 0px;
}

.banner a.btn.btn-success:active {
    letter-spacing: 3px;
    background-color: var(--color-verde-banner-hover);
    color: var(--color-blanco);
    box-shadow: var(--color-verde-banner-hover) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    min-height: 100vh; /* Altura mínima del viewport */
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
}

.navbar, .footer, .bg-light {
    background-color: var(--color-verde-oscuro) !important;
    color: var(--color-blanco) !important;
}

.nav-link, .footer .text-muted, .footer p {
    color: var(--color-blanco) !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-gris-claro) !important;
}

/* Efecto "road-effect" */
#stage {
    overflow: hidden;
    position: relative;
    perspective: 500px;
    margin-top: -5rem; /* Ajusta según sea necesario para tu diseño */
}

#road {
    opacity: .9;
    width: 120vw;
    height: 20vw;
    min-height: 200px;
    background: #888;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.2) 35%,
        rgba(80, 80, 80, 0.2) 50%,
        rgba(30, 30, 30, 0.4) 70%,
        rgba(60, 60, 60, 0.5) 87%,
        rgba(180, 180, 180, 0.5) 100%
    ), url("data:image/gif;base64,R0lGODlhAAFAAJEAAGdnZ3d3d4eHh5iYmCH5BAAAAAAALAAAAAAAAUAAAAL/xGKCm3re4pNs2kthzVxj/4HdGG7liZLpyram+rqwTNfxfOc2vvP+3xMBh8SgUahLKpdHpvOJhEqj1Kq1ib1Oi1kt99v1isNbcnl8NqfB6rX73Y6z0XI4/W7P4/Xz/r4OyBf4R+hXOHgoiKiYuNho6PgIyThJWWl5iRmpucmZKfnZKepJOhpaCmqqesqK2pq6CvsaK+tKWzuLm7vLa3vbq+sLPCxcHHyMTKz8u8xs3Azt/Cw9TW0djX2drM293Z1dHf49Di7uXX6Onk6uzr7+3g7vHk8vXz+Pb5+/f9/P768vIECB/wiaO4jQYMGFCgc6ZPiwYUKIEyNKpIjRosaMWRwrdvS4MeTFjyRFjgSJMqXJkixXqmwJ0+XJmTFpyrRZM6fOlzxv+tzZ8ydOoUOBEjWK9KjSokGbJmW6FOrTqFOlWqV6FavTrFW1dvUKdutXrmLLhh1r1lABADs=");
    background-size: 19vw auto;
    transform-origin: center top;
    transform: rotateX(45deg) translate(-20vw);
    animation: stripemove 0.2s linear infinite;
}

@keyframes stripemove {
    to {
        transform: rotateX(45deg) translate(0vw);
    }
}

#stripes {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    width: 120vw;
    min-width: 60vw;
    height: 5%;
    background: repeating-linear-gradient(
        to right,
        white,
        white 8vw,
        transparent 8vw,
        transparent 20vw
    );
}