<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alquiler de Bicicletas</title>
    <link rel="stylesheet" href="../static/css/alquiler.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1>Alquiler de bicicletas</h1>
    <form action="/check-email" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="invalid-feedback">Por favor, ingrese un email válido.</div>
        </div>
        <button type="submit" class="btn btn-primary">Continuar</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>