<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alquiler de Bicicletas</title>
    <link rel="icon" type="image/png" sizes="64x64" href="../static/img/logo1.png">
    <link rel="stylesheet" href="../static/css/alquiler.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
    <h1>Alquiler de bicicletas</h1>
    <form action="/alquiler-bicicleta" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="usuarioId" th:value="${usuario.id}">
        <div class="form-group">
            <label for="fechaRetiro">Fecha de Retiro:</label>
            <input type="date" class="form-control" id="fechaRetiro" name="fechaRetiro" required>
            <div class="invalid-feedback">Por favor, ingrese una fecha de retiro válida.</div>
        </div>
        <div class="form-group">
            <label for="fechaEntrega">Fecha de Entrega:</label>
            <input type="date" class="form-control" id="fechaEntrega" name="fechaEntrega" required>
            <div class="invalid-feedback">Por favor, ingrese una fecha de entrega válida.</div>
        </div>
        <div class="form-group">
            <label for="tipoBicicleta">Tipo de Bicicleta:</label>
            <select class="form-control" id="tipoBicicleta" name="tipoBicicleta" required>
                <option th:each="tipo : ${tiposBicicleta}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
            <div class="invalid-feedback">Por favor, seleccione un tipo de bicicleta.</div>
        </div>
        <button type="submit" class="btn btn-primary">Alquilar</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>