<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url=/">
    <title>Alquiler Exitoso</title>
    <link rel="icon" type="image/png" sizes="64x64" href="../static/img/logo1.png">
    <link rel="stylesheet" href="path_to_your_stylesheet.css"> <!-- Optional: Link to your CSS stylesheet -->
    <link rel="stylesheet" href="../static/css/exito.css">
</head>
<body>
<div class="success-message">
    <h1>¡Alquiler Exitoso!</h1>
    <p>Serás redirigido a la página de inicio en 5 segundos.</p>
    <p>Si no eres redirigido automáticamente, <a href="/">haz clic aquí para volver al inicio.</a></p>
</div>
</body>
</html>