<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sobre Nosotros - Eco Rent</title>

    <link rel="icon" type="image/png" sizes="64x64" href="../static/img/logo1.png" th:href="@{/img/logo1.png}">
    <link rel="stylesheet" href="../static/css/sobre-nosotros.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<div class="main-content">

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>Sobre Nosotros</h1>

    <section class="about-us">
        <div class="container">
            <p>Eco Rent nació en 2024 con una visión clara: transformar la movilidad urbana en Colombia a través de una solución de transporte sostenible, accesible y eficiente.</p>
            
            <p>Somos un equipo de emprendedores apasionados por la tecnología y el medio ambiente. Nuestra experiencia abarca desde el desarrollo de software hasta la logística urbana, unidos por el deseo común de mejorar la calidad de vida en nuestras ciudades.</p>
            
            <p>Nuestra misión es proporcionar a los colombianos una alternativa de transporte que no solo sea conveniente y asequible, sino que también contribuya a la reducción de la huella de carbono y la congestión en nuestras urbes.</p>
            
            <h2>En Eco Rent, creemos que:</h2>
            <ul>
                <li>La movilidad sostenible es el futuro de nuestras ciudades.</li>
                <li>La tecnología puede y debe usarse para mejorar la vida cotidiana.</li>
                <li>Cada pedaleo cuenta en la lucha contra el cambio climático.</li>
                <li>El acceso a opciones de transporte flexibles es un derecho, no un lujo.</li>
            </ul>
            
            <p>Desde nuestro lanzamiento, hemos crecido rápidamente, expandiéndonos a varias ciudades colombianas y construyendo una comunidad de ciclistas urbanos comprometidos. Trabajamos en estrecha colaboración con gobiernos locales y organizaciones ambientales para promover la infraestructura ciclista y la cultura de la bicicleta.</p>
            
            <p>En Eco Rent, no solo ofrecemos bicicletas; ofrecemos una nueva forma de vivir la ciudad. Únete a nosotros en este viaje hacia un futuro más verde y conectado.</p>
            
            <p><strong>Eco Rent: Pedaleando hacia un mejor mañana.</strong></p>
        </div>
    </section>

    <section class="founders">
        <div class="container">
            <h2>Nuestros Creadores</h2>
            <div class="founder-container">

                <div class="founder">
                    <a href="https://www.linkedin.com/in/martin-gonzalo-cabral" target="_blank">
                        <img src="https://media.licdn.com/dms/image/C5103AQEf41DDGoppaA/profile-displayphoto-shrink_200_200/0/1517065934287?e=1727913600&v=beta&t=gmolfrXFNPxR9c0Go70syq5EoAoZPTRgvXSKcKR7ioM" 
                        alt="Martin Gonzalo Cabral">
                    </a>
                    <h3>Martin Gonzalo Cabral</h3>
                    <p>Back-End Developer</p>
                </div>
                
                <div class="founder">
                    <a href="https://www.linkedin.com/in/yeisy-paname%C3%B1o-00b5541a3/" target="_blank">
                        <img src="https://media.licdn.com/dms/image/D4E03AQGCda2J9zrNpw/profile-displayphoto-shrink_800_800/0/1718242974414?e=1727913600&v=beta&t=tyFAar9rc_LqW8--lgL3JoGJqDFAxDdeaAEtDKyxxrg" 
                        alt="Yeisy Paola Panameño">
                    </a>
                    <h3>Yeisy Paola Panameño</h3>
                    <p>Front-End Developer</p>
                </div>                
                
               
            </div>
        </div>
    </section>
</div>
<br><br>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>